---
layout: default
title: Programming Blog
permalink: /blog/
---

#blog
  %h1.pagination-centered Blog Posts

  %hr

  %p My thoughts and notes on programming are all stored here. <a href="http://www.iamhanchang.com">My other blog</a> is more geared towards personal development, investing, etc.

  %table.posts.table
  {% for post in site.posts %}
    %tr
      %td {{ post.date | date_to_string }}
      %td
        %a(href="{{ post.url }}")
          {{ post.title }}
  {% endfor %}
