---
layout: default
title: Optimizely
permalink: /optimizely/
---
#challenges
  %h1.pagination-centered Optimizely

  %hr

  %p.lead 
    Hi Optimizely, my name is Han and I'm the
    %a(href="https://www.optimizely.com/jobs#bPbg--Sger4QPqeJe4iefn" target="_blank") Growth Engineer
    you've been looking for.

  %h4 How My Passion Can Help Optimizely

  %p 
    I believe strongly from personal experience that a technical organization's toolchain provides the highest amount of leverage and is a significant source of competitive advantage.
    %a(href="http://algeri-wong.com/yishan/engineering-management-tools-are-top-priority.html" target="_blank") http://algeri-wong.com/yishan/engineering-management-tools-are-top-priority.html
  %p
    With proper tools in place, exponential growth in a product's user base will not require exponential growth in engineering and customer support, allowing an organization to scale much easily with solid tools than without. In addition, better data driven business decisions can be made and morale can be substantially higher with a strong toolchain.
    Plus, it's just fun for me to be able to learn about all aspects of a business while building things to help make my fellow team members' lives better.

  %hr

  %h4 What I'm Capable Of

  %p
    Optimizely has listed some requirements for the position, so I'd like to go over how I crush each bullet point:

  %ul
    %li 
      %p
        %strong Track record of technical creativity and self-driven value invention
      %p 
        I'm a cofounder of 
        %a(href="http://www.nohatmedia.com" target="_blank") nohatmedia.com
        , a company specializing in helping SEO agencies rank their clients higher in the search engines. I'm responsible for all of the technical aspects and have extensively built a variety of tools to help streamline our systems and vastly reduce the amount of work required to service a client. Below is a partial list of the internal projects that I've singlehandedly built to solve a business need or proactively overcome a bottleneck in our process -

        %ul
          %li 
            DomainCrawler: 
            %a(href="http://www.szuhanchang.com/projects/#domaincrawler" target="_blank") http://www.szuhanchang.com/projects/#domaincrawler
          %li 
            RankTracker: 
            %a(href="http://www.szuhanchang.com/projects/#ranktracker" target="_blank") http://www.szuhanchang.com/projects/#ranktracker
          %li 
            ParchedOracle: 
            %a(href="http://www.szuhanchang.com/projects/#parchedoracle" target="_blank") http://www.szuhanchang.com/projects/#parchedoracle
          %li 
            Private Blog Network: 
            %a(href="http://www.szuhanchang.com/projects/#pbn" target="_blank") http://www.szuhanchang.com/projects/#pbn
      %p 
        I've also unified the hosting of 2000+ WordPress sites across a wide range of unique C class IP addresses (for SEO optimization), which is no easy feat. It basically involves hosting all the WordPress installs on a single server with nginx, and then having separate shared hosting accounts with unique IP addresses act as transparent reverse proxies pointing back to the single WordPress server, which I think is a creative solution for an otherwise logistical nightmare.

    %li
      %p 
        %strong You have demonstrated skill and enthusiasm for picking up new technologies as needed.  You are a polyglot.
      %p
        I always try to pick the best language for the job. 
      %p 
        The crawler is written in Python since scrapy is the best in breed for open source web crawling.
      %p
        Other projects are on Rails using Sidekiq for threaded workers since the Ruby ecosystem gives me a variety of functionality for free through Rubygems.
      %p
        Shared hosting reverse proxies and WordPress modifications are done in PHP. 
      %p
        I'm looking into Go for helping contain memory usage and speed up massively distributed workers performing search engine rank checking and competition analysis.

    %li
      %p
        %strong You have had success with integrating independent systems in useful ways (e.g., API mashups)
      %p
        I consume a wide variety of APIs - RoboWhois, Iron.io, Moz, Ahrefs.com, Namecheap, WordPress, the list goes on. Most are mixed and matched; for instance, I use Iron.io Workers to perform rank tracking, then connect that with the Moz API to do some competition analysis, and follow up with Ahrefs.com to check the backlink profile, then send all that information to Iron.io MQ for another worker to insert into the database.

    %li
      %p
        %strong You have had experience working simultaneously with technical and non-technical stakeholders.
      %p
        The rest of the nohatmedia.com team has little to no technical expertise in software development, so I am well versed in communicating with non-technical stakeholders. Obviously I've also had a substantial amount of industry experience on professional software development teams working on big projects (such as MIT Lincoln Labs, Lime Brokerage, and OkCupid) so technical stakeholders are not a problem either.
      %p
        In fact, since a lot of NoHatMedia's data is stored in Excel instead of a relational or NoSQL database, I've gotten quite good at using a Python library called
        %a(href="http://pythonhosted.org/openpyxl" target="_blank") OpenPyxl 
        to help automatically update spreadsheets with the most recent data that would otherwise be a pain to organize by hand.
      %p
        In addition, during college I worked all four years at the Boston University Information Technology help desk, where I helped teach non-technical people how to the use the variety of computational resources they had at their disposal at the university.

    %li
      %p
        %strong You have experience translating ambiguous business challenges into concrete engineering initiatives.
      %p
        Since I'm the only member of NoHatMedia with software experience, I constantly identify areas of the business that can be automated, translate the business requirements into technical requirements, and implement those initiatives rapidly and get feedback early to make sure that those tools improve the workflow.

    %li
      %p
        %strong You have demonstrated enthusiasm for deriving non-obvious insight from disparate data sources.
      %p
        NoHatMedia is pioneering a new SEO metric we call "Thirst". At the moment, the SEO industry does not calculate the ROI on the effort require to reach a particular search engine ranking - we think that's foolish. I pull in data from Moz, Ahrefs, Majestic SEO, and of course Google itself to calculate the approximate number of links required to rank a target site for a particular keyword depending on the strength of the competition, which allows us to focus SEO efforts only on the keywords which will yield the highest ROI for the client. This non-obvious insight should prove very profitable for our customers and is a perfect example of how a strong toolchain is a major competitive advantage!

  %hr

  %h4 Why Our Interests are Aligned
  %p
    Although I am still involved with NoHatMedia, it's a very small and efficient operation and will not affect my performance or focus at Optimizely. In addition, although I'm a US Citizen, my wife is a Chinese national and as a result I am required to have demonstratable income to maintain her temporary green card status for the next two years. NoHatMedia is (barely) profitable and we reinvest almost all of our earnings back into the company, so it's not enough to meet the immigration income requirements, especially since I live two blocks away from Optimizely headquarters in San Francisco.
  %p
    As a result, I'm looking for a stable employer with a great product that actually makes a difference, a strong team, and interesting business problems to solve with technology.
  %p 
    Optimizely meets my needs perfectly and I believe I meet Optimizely's needs perfectly as well. It's a match made in heaven!

  %p.lead
    Thanks for reading, I look forward to chatting with you about how I can help Optimizely build the systems and tools to scale marketing, sales, support, business intelligence, and core infrastructure to new levels of efficiency and ease of use!

  %p 
    Cheers,
    %br
    %img(src="/images/signature.png")


